.question-wrapper {
    background-color: #FEF0F9;
    width: 50%;
    margin: auto;
    padding: 1em;
    border-radius: 2em;
    border-style: solid;
    border-color: #DF69D0;
    border-width: 5px;
  }
  
  .answers {
    text-align:center;
  }
  
  .answer-btn {
    border-radius: 1em;
    width: 80%;
    margin: 1em;
    padding: 0.5em;
    background-color: #F4CDEF;
  }
  
  .answer-btn:hover{
    background-color: #DF69D0;
  }
  
  /* .answer-btn:active{
    background-color: #DF69D0;
  } */
  
  .next button{
    background-color: #FFBFC7;
    width: 25%;
    border-radius: 1em;
    padding: 0.5em;
    margin: 2em;
  }
  .next button:hover {
    background-color: #FF949F;
  }