
  
  .answers {
    text-align:center;
  }
  
  .answer-btn {
    border-radius: 1em;
    width: 80%;
    margin: 1em;
    padding: 0.5em;
    background-color: #F4CDEF;
  }
  
  .answer-btn:hover{
    background-color: #DF69D0;
  }
  
  /* .answer-btn:active{
    background-color: #DF69D0;
  } */
  
  