.answers {
  text-align: center;
}

.answer-btn {
  font-size: 11pt;
  border-radius: 1em;
  border-color: #DF69D0;
  width: 80%;
  margin: 1em;
  padding: 0.5em;
  background-color: #F4CDEF;
  white-space: initial;
}

.answer-btn:hover {
  background-color: #DF69D0;
}

.active {
  background-color: #DF69D0;
}

