.App {
  text-align: center;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.react-quiz-container {
  margin: 7em 0em;
}
.question-wrapper {
  background-color: #FEF0F9;
  width: 50%;
  margin: auto;
  padding: 1em;
  border-radius: 2em;
  border-style: solid;
  border-color: #DF69D0;
  border-width: 5px;
}


.next-btn button{
  background-color: #FFBFC7;
  width: 25%;
  border-radius: 1em;
  padding: 0.5em;
  margin: 2em;
}
.next-btn button:hover {
  background-color: #FF949F;
}

.notice{
  color: red;
}

.hidden{
  display:none;
}