.App {
  text-align: center;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* img{
  height: 100%;
} */

.react-quiz-container {
  margin: 7em 0em;
}

